<h1 class="text-center">Articles</h1>
<div class="container">
<div class="article-box row">
  <div class="article col-sm-6 col-md-7 col-lg-7">
    <% @articles.each do |article| %>
      <table>
        <thead>
          <tr>
          <th>Title：<%= link_to article.title, article_path(article.id) %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Body：<%= strip_tags(article.text.to_s).truncate(40) %></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>Posted：<%= article.created_at.to_s(:datetime_jp) %></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>Tag：<%= render :partial => 'tag_list', locals: { tag_list: article.tag_list }  %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
<div class="tag_cloud col-sm-6 col-md-5 col-lg-5">
  <table>
   <thead>
     <tr>
       <th class="text-center"><h3>Tags</h3></th>
     </tr>
   </thead> 
   <tbody>
     <tr>
     <td><% tag_cloud(Article.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
     <%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class %>
     <% end %>
     </td>
     </tr>
   </tbody>
   <tbody>
     <tr>
     <td><%= link_to "Articles List", articles_path unless current_page?(articles_path)  %>
     </td>
     </tr>
   </tbody>
  </table>
</div>
  <%= will_paginate @articles %>
</div>
</div>





