<h1>Posts</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'man-690201_1280.jpg', class: 'carousel-image' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'landscape-2565574_1280.jpg', class: 'carousel-image' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'architecture-1850129_1280.jpg', class: 'carousel-image' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% @articles.each do |article| %>
  <%= article.title %>
  <%= article.created_at.to_s(:datetime_jp) %>
  <%= link_to 'Get to the Article', article_path(article.id) %>
<% end %>
<h3 class="tag_list text-center">タグ一覧</h3>
<div class="tag_cloud">
  <% tag_cloud(Article.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <div class="tag_detail"><%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class %></div>
  <% end %>
</div>
