<strong><%= @article.title %></strong>
<div class="post_show">
  <strong>:text</strong>
  <%= @article.text %>
</div>
<%= render :partial => 'tag_list', locals: { tag_list: @article.tag_list } %>
<div class="btn">
  <%= link_to 'index', articles_path %>
</div>
<div class="btn">
  <%= link_to 'edit', edit_article_path(@article) %>
</div>
<div class="btn">
  <%= link_to 'delete', @article, method: :delete, data:{confirm:"Do you really want to delete?"} %>
</div>
