<section class="home">
  <div class="image-bg">
    <div class="image">
      <%= image_tag 'panorama-2117310_1280.jpg', class: 'image' %>
      <h3><%= link_to 'HELLO', about_index_path, class: 'btn' %></h3>
    </div>
  </div>
  <h3 class="text-center">Articles</h3>
  <div class="home-box">
    <% @articles.each do |article| %>
      <table>
        <thead>
          <tr> 
          <th>Title：<%= link_to article.title, article_path(article.id), class: 'article-intro' %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Boby：<%= strip_tags(article.text.to_s).truncate(10) %></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>Posted：<%= article.created_at.to_s(:datetime_jp) %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</section>
