<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="HP-docker">
      <div class="navbar-nav mr-auto">
        <%= link_to "HOME", root_path, class:"nav-item nav-link" %>
        <%= link_to "ABOUT", about_index_path, class:"nav-item nav-link" %>
        <%= link_to "WORK", work_index_path, class:"nav-item nav-link" %>
        <%= link_to "CONTACT", contact_index_path, class:"nav-item nav-link" %>
        <% if user_signed_in? %>
          <%= link_to "LOG-OUT", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          <%= link_to "MYPAGE", user_path(current_user.id), class: "nav-item nav-link" %>
        <% end %>
      </div>
    </div>
  </div>
  </nav>

   <% if notice %>
      <p class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
         <%= notice %>
       </p>
   <% end %>

   <% if alert %>
      <p class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
         <%= alert %>
      </p>
    <% end %>
 
    <%= yield %>
 

  </body>
</html>
